{% extends "polls/base_dark.html" %}
{% block title %}Vote{% endblock %}
{% block main %}
<div class="panel dark-panel">
    <div class="panel-heading dark-panel-heading">
        <h3 class="panel-title">Cast Your Vote</h3>
    </div>
    <div class="panel-body dark-body">
        <h2>{{ poll.query_text }}</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="radio dark-radio">
                    <label><input type="radio" name="poll" value="choice_x"> {{ poll.choice_x }}</label>
                    <label><input type="radio" name="poll" value="choice_y"> {{ poll.choice_y }}</label>
                    <label><input type="radio" name="poll" value="choice_z"> {{ poll.choice_z }}</label>
                </div>
            </div>
            <button type="submit" class="btn dark-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
